<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIOSH Lifting Equation Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Biomechanic Posture System</h1>
    <img src="{{ url_for('video_feed') }}" width="720" height="480">
    <p>Rapid Upper Limb Assessment Score: <span id="rula_score">4</span></p>
    <p>Rapid Entire Body Score: <span id="reba_score">3</span></p>
</body>
</html>
